.image-text-container {
    display: flex;
    align-items: center;
    height: 39rem;
  }
  
  .image-container {
    flex-basis: 60%;
    position: relative;
  }
  
  .image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1) 90%);
  }
  
  .text-container {
    flex-basis: 40%;
    padding: 0 2rem;
  }
  
  .text-container h3 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  
  .text-container p {
    font-size: 1.2rem;
  }
  
  .carousel-item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
#logo {
    height: 80px;
    width: 240px;
    border-radius: 50%;
}

.font-menu {
    font-family: 'Rokkitt', serif;
    color: #d23744;
}

.font-menu-active {
    font-family: 'Rokkitt', serif;
    background-color: #F20519;
}

.font-menu-active a {
    color: white;
}

.font-primary {
    font-family: 'Rokkitt', serif;
}

.padding-top-after-header {
    padding-top: 6.4rem;
}

/* 
.bg-pink {
    background-color: #E6C5B6;
} */

.text-red {
    color: #e44646;
}

.center-card {
    margin-left: 25rem;
}

#font-aboutme {
    font-family: 'Open Sans', sans-serif;
}

.bg-card-um {
    background-color: #EBC5B8;
}

.bg-card-dois {
    background-color: #F5D6C9;
}

.bg-card-tres {
    background-color: #FDD6BD;
}

.bg-footer {
    background-color: #e44646;
}

.bg-footer a i h6 p {
    color: white !important;
}


.section-after-menu {
    height: 720px;
}

/* Dispositivos moveis */
@media only screen and (max-width: 600px) {

    .section-after-menu {
        height: 900px;
    }

    #logo {
        height: 40px;
        width: 120px;
        border-radius: 50%;
    }


}